* {
    margin: 0;
    padding: 0;
}

.id2 {
    background-image: url(./img2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}




.id {
    /* margin: 3px 4px 5px 2px; */
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    padding: 10vh;
    background: #00808056;
    border: 14px solid #00808070;
    box-shadow: 20px 10px 3px #15181863;
}

.id label {
    font-size: x-large;
    text-align: center;
    font-weight: 5000;
    margin-right: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Archivo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Signika Negative', sans-serif;
}

.id label b {
    text-align: center;
}

.id span {
    font-family: 'Archivo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Signika Negative', sans-serif;
    display: block;
    margin-top: 20px;
}

.id2 h1 {
    font-weight: 600;
    font-size: xx-large;
    color: aliceblue;
    font-style: italic;
    position: relative;
    padding-top: 70px;
    color: black;
    font-family: 'Archivo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Signika Negative', sans-serif;
}